<% if true %>
<%= js add_gritter("Do you have what it takes to be the best farmer?", title:"Welcome to FarmVillage", time: 2000, :nodom_wrap  => true, position:"bottom_left") %>
<% end %>
<p> <%= link_to farmers_path, class: 'btn btn-standard' do %>
<%= Farmer.count %> Farmers registered<% end %> </p>
<% if @plant and current_farmer %>
<p><%= link_to plot_path(id: @plant), class: 'btn btn-standard' do %>
A <%= @plant.name %>  has appeared!
<% end %></p>
<% if current_farmer %>
<p><%= link_to harvest_path(id: @plant), class: 'btn btn-standard' do %>Harvest  <%= @plant.name %><% end %></p><% end %>
<% end %>
