<% if flash[:notice] %>
<%= js add_gritter(flash[:notice], title:"Plant Ready To Harvest", time: 2000, :nodom_wrap  => true, position:"bottom_right") %>
<% end %>

<h3>Welcome to FarmVillage</h3>

<%= Time.now.strftime("%m/%d/%Y %I:%M %p") %>
<p><%= link_to farmers_path, class: 'btn btn-standard' do %>
  <i class="glyphicon glyphicon-user"></i> Farmers
<%= Farmer.count %> registered<% end %></p>

<% if @plant and current_farmer %>
  <p> A wild <%= @plant.name %> has appeared!</p>
  <!-- REPLACE THIS LINE BELOW -->
<%= link_to plot_path(id: @plant), class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-tint"></i> Plot A Plant
<% end %>
<% end %>
