<% if true %>
<!-- <%= js add_gritter("This is your farm. Flavor text here.", title:"Your Farm", time: 2000, :nodom_wrap  => true, position:"bottom_left") %> -->
<% end %>

<!DOCTYPE html>

<html lang="en">
<head>
<title>Store</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $('a.modalLink').click(function(e){
    var id = $(this).attr('href');
    if (id=="#peach") {
        $("#peach").modal('show');
    } else if (id == "#watermelon") {
        $("#watermelon").modal('show');
    } else if (id == "#lemon") {
        $("#lemon").modal('show');
    } else if (id == "#weed") {
        $("#weed").modal('show');
    } else if (id == "#pom") {
        $("#pom").modal('show');
    }
  });
});
</script>

<style type="text/css">
    .bs-example{
      margin: 0px;
    }
</style>
</head>
<body>
     <% if current_farmer.id == @farmer.id %>
      <%= link_to plants_new_path, class: 'btn btn-medium' do %>Breed New Plant
      <% end %>
    <% end %>
<div class="container">
  <div class="row">
    <h1><%= @farmer.name if @farmer.name %>'s Crops</h1>

      <% count = 0 %>
      <% @farmer.spaces.each do |s| %>
      <% count += 1 %>
      <% p = s.plant %>
      <% if !p %>
         <%=image_tag("grass.png", height: '16.88%', width: '16.88%', alt: 'Logo', align: 'center')%></a>
      <% else %>
      <% p.space = s %>
        <% if p.name == "Watermelon" %>
            <a href="#watermelon" class="modalLink"><%=image_tag("Watermelon.png", height: '16.88%', width: '16.88%', alt: 'Logo', align: 'center')%></a>
            <div id="watermelon" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Citrullus lanatus</h4>
                  </div>
                  <div class="modal-body">
                      <p>Watermelon is both fruit and vegetable. The rind is entirely edible!</p>
                  </div>
                  <div class="modal-footer">
                  <% if current_farmer.id == @farmer.id %>
                  <%= link_to harvest_path(id: p.id), class: 'btn btn-medium' do %>Harvest
                  <% end %>
                  <% end %>
                  <%= link_to water_path(id: p.id), class: 'btn btn-medium' do %>Water
                  <% end %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>   
        <% end %>
        <% if p.name == "Lemon" %>
            <a href="#lemon" class="modalLink"><%=image_tag("Lemon.png", height: '16.88%', width: '16.88%', alt: 'Logo', align: 'center')%></a>
            <div id="lemon" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">C. limon</h4>
              </div>
              <div class="modal-body">
                  <p>One educational science experiment involves attaching electrodes to a lemon and using it as a battery to produce electricity.</p>
                  </div>
                  <div class="modal-footer">
                    <% if current_farmer.id == @farmer.id %>
                  <%= link_to harvest_path(id: p.id), class: 'btn btn-medium' do %>Harvest
                  <% end %>
                  <% end %>
                  <%= link_to water_path(id: p.id), class: 'btn btn-medium' do %>Water
                  <% end %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>   
        <% end %>
        <% if p.name == "Weed" %>
            <a href="#weed" class="modalLink"><%=image_tag("Weed.png", height: '16.88%', width: '16.88%', alt: 'Logo', align: 'center')%></a>
          <div id="weed" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Cannabis sativa</h4>
                      </div>
                  <div class="modal-body">
                  <p>Cannabis has long been used for hemp fibre, for seed and seed oils, and for medicinal purposes.</p>
                  </div>
                  <div class="modal-footer">
                    <% if current_farmer.id == @farmer.id %>
                  <%= link_to harvest_path(id: p.id), class: 'btn btn-medium' do %>Harvest
                  <% end %>
                  <% end %>
                  <%= link_to water_path(id: p.id), class: 'btn btn-medium' do %>Water
                  <% end %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>   
        <% end %>
        <% if p.name == "Pomegranate" %>
            <a href="#pom" class="modalLink"><%=image_tag("Pomegranate.png", height: '16.88%', width: '16.88%', alt: 'Logo', align: 'center')%></a>
              <div id="pom" class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Punica granatum</h4>
                          </div>
                          <div class="modal-body">
                              <p>In the Ancient Greek mythology, the pomegranate was also known as the "fruit of the dead".</p>
                          </div>
                  <div class="modal-footer">
                    <% if current_farmer.id == @farmer.id %>
                  <%= link_to harvest_path(id: p.id), class: 'btn btn-medium' do %>Harvest
                  <% end %>
                  <% end %>
                  <%= link_to water_path(id: p.id), class: 'btn btn-medium' do %>Water
                  <% end %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>   
        <% end %>
        <% if p.name == "Peach" %>
            <a href="#peach" class="modalLink"><%=image_tag("Peach.png", height: '16.88%', width: '16.88%', alt: 'Logo', align: 'center')%></a>
            <div id="peach" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Prunus persica</h4>
              </div>
              <div class="modal-body">
                  <p>Fabulous peachy fact: peaches were once known as Persian apples.</p>
              </div>
              <div class="modal-footer">
                <% if current_farmer.id == @farmer.id %>
              <%= link_to harvest_path(id: p.id), class: 'btn btn-medium' do %>Harvest
              <% end %>
              <% end %>
              <%= link_to water_path(id: p.id), class: 'btn btn-medium' do %>Water
              <% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>            
        <% end %>
      <% end %>
    <% if count % 3 == 0 %>
      <br>
      <% end %>
    <% end %>
   </div>  
</div>
 <div class="container">                     
  <table class="sortable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th> 
        <th>Health</th>
        <th>      </th>
        <th>      </th>
    </tr>
    </thead>

    <tbody>
      <% @farmer.spaces.each do |s| %>
      <% p = s.plant %>
      <% if p %> 
        <tr>
          <td><%= p.id %></td>
          <td><%= p.name %></td>
          <td><% if !p.health %>
                <% p.health = 100 %>
              <% end %>
            <%= p.health %>
          </td>
          <% if current_farmer.id != @farmer.id %>
          <td>
          <%= link_to steal_path(id: p.id), class: 'btn btn-medium' do %>Steal<% end %></td>
          <td>
          <%= link_to squash_path(id: p.id), class: 'btn btn-medium' do %>Squash<% end %></td>


          <% end %>
        </tr>
      <% end %>
    <% end %>

  </table>
</div>  
</body>
</html>

