<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farmer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2><%= @farmer.name if @farmer.name %>'s Precious</h2>
 <% if current_farmer.id == @farmer.id %>
    <%= link_to plants_new_path, class: 'btn btn-medium' do %><i class="glyphicon glyphicon-grain"></i> Breed New Plant
        <% end %>
<% end %>           
  <table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th> 
        <th>Health</th>
    </tr>
    </thead>
    <tbody>
    <% @farmer.plants.each do |p| %>
        <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.health %></td>
        <td><%= link_to water_path(id: p), class: 'btn btn-medium' do %><i class="glyphicon glyphicon-tint"></i> Water
        <% end %></td>
        <td><%= link_to damage_path(id: p), class: 'btn btn-medium' do %><i class="glyphicon glyphicon-fire"></i> Do Evil
        <% end %></td>
        </tr>
    <% end %>

</table>
</div>

</body>
</html>


