<!DOCTYPE html>
<% if true %>
<!-- <%= js add_gritter("Browse from our wide variety of goods!", title:"Welcome to the Store", time: 2000, :nodom_wrap  => true, position:"bottom_left") %> -->
<% end %>

<html lang="en">
<head>
<title>Store</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $('a.modalLink').click(function(e){
    var id = $(this).attr('href');
    if (id=="#peach") {
        $("#peach").modal('show');
    } else if (id == "#watermelon") {
        $("#watermelon").modal('show');
    } else if (id == "#lemon") {
        $("#lemon").modal('show');
    } else if (id == "#pineapple") {
        $("#pineapple").modal('show');
    } else if (id == "#pom") {
        $("#pom").modal('show');
    } else if (id == '#starfruit') {
        $("#starfruit").modal('show');
    }
  });
});
</script>
<style type="text/css">
    .bs-example{
      margin: 0px;
    }
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <h1>Store</h1>
    <div class="row">
      <a href="#peach" class="modalLink"><%=image_tag("Peach.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
     <a href="#watermelon" class="modalLink"><%=image_tag("Watermelon.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
     <a href="#lemon" class="modalLink"><%=image_tag("Lemon.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
     <a href="#pom" class="modalLink"><%=image_tag("Pomegranate.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
     <a href="#pineapple" class="modalLink"><%=image_tag("Pineapple.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
     <a href="#starfruit" class="modalLink"><%=image_tag("Starfruit.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
  </div>
</div>
</div>
<div id="peach" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Prunus persica</h4>
              </div>
              <div class="modal-body">
                  <p>Fabulous peachy fact: peaches were once known as Persian apples.</p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Peach"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>             
<div id="watermelon" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Citrullus lanatus</h4>
              </div>
              <div class="modal-body">
                  <p>Watermelon is both fruit and vegetable. The rind is entirely edible!</p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Watermelon"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>             
<div id="lemon" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">C. limon</h4>
              </div>
              <div class="modal-body">
                  <p>One educational science experiment involves attaching electrodes to a lemon and using it as a battery to produce electricity.</p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Lemon"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>  
  <div id="pom" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Punica granatum</h4>
              </div>
              <div class="modal-body">
                  <p>In the Ancient Greek mythology, the pomegranate was also known as the "fruit of the dead".</p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Pomegranate"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>  
  <div id="starfruit" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Averrhoa carambola</h4>
              </div>
              <div class="modal-body">
                  <p>Star fruit is a small, bushy evergreen tree that grows very well under hot, humid, tropical conditions. </p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Starfruit"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>  
  <div id="pineapple" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Ananas comosus</h4>
                  </div>
                  <div class="modal-body">
                  <p>It takes almost 3 years for a single pineapple to reach maturation (which makes the price tag a bit more understandable). </p>
                  </div>
                  <p class="text-warning"><small>Price: 10 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Pineapple"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div> 