<!DOCTYPE html>
<% if true %>
<!-- <%= js add_gritter("Browse from our wide variety of goods!", title:"Welcome to the Store", time: 2000, :nodom_wrap  => true, position:"bottom_left") %> -->
<% end %>

<html lang="en">
<head>
<title>Store</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $('a.modalLink').click(function(e){
    var id = $(this).attr('href');
    if (id=="#first") {
        $("#first").modal('show');
    } else {
        $("#second").modal('show');
    }
  });
});
</script>
<style type="text/css">
    .bs-example{
      margin: 0px;
    }
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <h1>Store</h1>
    <div class="row">
      <a href="#first" class="modalLink"><%=image_tag("Peach.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
     <a href="#second" class="modalLink"><%=image_tag("Watermelon.png", height: '25%', width: '25%', alt: 'Logo', align: 'center')%></a>
  </div>
</div>

<div id="first" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Prunus persica</h4>
              </div>
              <div class="modal-body">
                  <p>Fabulous peachy fact: peaches were once known as Persian apples.</p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Peach"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>             
<div id="second" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Citrullus lanatus</h4>
              </div>
              <div class="modal-body">
                  <p>Watermelon is both fruit and vegetable. The rind is entirely edible!</p>
                  <p class="text-warning"><small>Price: 5 dolladollabillz</small></p>
              </div>
              <div class="modal-footer">
                  <%= link_to buy_path(type: "Watermelon"), class: 'btn btn-standard' do %>Purchase<% end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>             
