<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="bs-example">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

               <a href="/">
                <%=image_tag("FarmVillageLogo.png", borderleft: '2px', height: '10%', width: '10%', alt: "Logo")%>
                </a>
                <% if farmer_signed_in? %>
                dolladollabillz: <%= current_farmer.dolladollabillz %>
                <% end %>
            
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="name"><%= link_to 'Farm', current_farmer %></li>
               <li class="name"><%= link_to 'Plants', '/plants' %></li>
               <li class="name"><%= link_to 'Store', '/show' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%= render 'layouts/navigation_links' %>
            </ul>
        </div>
    </nav>

    </header>
    <main role="main">
<div class="download-section">
        <div class="container">
            <div class="col-sm-8">
              <%= render 'layouts/messages' %>
              <%= yield %>
              </div>
            </div>
    </main>
    <%= render 'layouts/footer' %>
</body>
</html>


